<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Reservas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoReservas" id="reservas">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{reserva.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${reservations != null and !reservations.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{reserva.inicio}">Fecha Reserva</th>
                                            <th th:text="#{reserva.devolucion}">Fecha Cancelación</th>
                                            <th th:text="#{reserva.estado}">Estado</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="reservation : ${reservations}">
                                            <td>[[${reservation.idReservation}]]</td>
                                            <td>[[${reservation.startDate}]]</td>
                                            <td>[[${reservation.devolutionDate}]]</td>
                                            <td>[[${reservation.status}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reserva/searchreservation/} + ${reservation.idReservation}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reserva/deletereservation/} + ${reservation.idReservation}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${reservations == null or reservations.empty}">
                                <span th:text="#{reserva.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
