<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Calificaciones</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/score/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/score/agregarCalificacion :: agregarCalificacion"></section>
        <section th:replace="layout/score/listadoCalificaciones :: listadoCalificaciones"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
