<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{index.completo}">Reservas confirmadas</h3>
                                <h4 class="display-4">
                                    [[${completed}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{index.cancelado}">Reservas canceladas</h3>
                                <h4 class="display-4">
                                    [[${cancelled}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{index.totalclientes}">Total Clientes</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-users"></i> [[${topclients}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
