<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Categoría</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarCategoria">
            <div id="agregarCategoria" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Categoría</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div> 
                        <form th:action="@{categoria/savecategory}" th:object="${category}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name" th:text="#{categoria.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="name" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="description" th:text="#{categoria.descripcion}">Descripción</label>
                                    <input type="text" class="form-control" name="description" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
